{% extends 'base.html' %}

{% block title %}Edit House{% endblock %}

{% block content %}
<h1>Edit House Listing</h1>
<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="{{ house.title }}" required>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" required>{{ house.description }}</textarea>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" name="price" value="{{ house.price }}" required>
    </div>
    <div class="form-group">
        <label for="location">Location</label>
        <input type="text" class="form-control" id="location" name="location" value="{{ house.location }}" required>
    </div>
    <div class="form-group">
        <label for="contact_name">Contact Name</label>
        <input type="text" class="form-control" name="contact_name" value="{{ house.contact_name }}" required>
    </div>
    <div class="form-group">
        <label for="contact_phone">Contact Phone</label>
        <input type="text" class="form-control" name="contact_phone" value="{{ house.contact_phone }}" required>
    </div>
    <div class="form-group">
        <label for="image_file">Main Image</label>
        <input type="file" class="form-control" name="image_file">
    </div>
    <div class="form-group">
        <label for="additional_images">Additional Images</label>
        <input type="file" class="form-control" name="additional_images" multiple>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary mt-3">Update House</button>
        <a href="{{ url_for('index') }}" class="btn btn-primary mt-3 ">Cancel</a>
    </div>
</form>
<!-- <a href="{{ url_for('index') }}" class="btn btn-primary">Cancel</a> -->
{% endblock %}
