{% extends 'base.html' %}

{% block content %}
    <h1>Available Houses</h1>
    <div class="row">
        {% for house in houses %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ url_for('static', filename='uploads/' + house.image_file) }}" class="card-img-top" alt="House Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ house.title }}</h5>
                        <p class="card-text">{{ house.description }}</p>
                        <p class="card-text">Price: ${{ house.price }}</p>
                        <a href="{{ url_for('house_detail', house_id=house.id) }}" class="btn btn-primary">View More</a>
                        {% if current_user.is_authenticated and current_user.is_admin %}
                            <a href="{{ url_for('edit_house', id=house.id) }}" class="btn btn-primary">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
